@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: #fff;
  --background-color: #e5e5e5;
  --background-gradient: linear-gradient(#f1fcfe, #a5e6f4);
  --text-color: #2d2d2d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: var(--background-gradient);
  object-fit: cover;
  color: #fff;
  min-height: 100vh;
}
